#first{
    /* background-color: black;
    color:antiquewhite; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 2px solid black;
}
.header{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
    margin-right:20px;
}
.price{
    height:10px;
    width:60px;

}
.image{
    height:30px;
    width:30px;
}

#input{
    height:20px;
    width:200px;
}
.footer{
    height:200px;
    width:100%;
    border:none;
}
button{
    border:none;
}